@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
.contacto-box {
    height: 1600px;
    width: 100%;
    position: relative;
    background: #4eb980;
    overflow: hidden;
  }
 
  
  .contacto-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:300px;
    background: #f9f9f9;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
  .contacto-box::after {
    content: "";
    position: absolute;
    background:#cccccc; 
    right: 50%;
    top: 18.7%;
    width: 1px;
    height: 175px;
   
}
  
.contacto-title{
    display: flex;
    justify-content: center;
}  


.contacto-title h4{
    margin: 25% 0 0 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;  
    font-family: 'Source Sans Pro', sans-serif;
    border-top: 1px solid #dddddd;
    width: 1000px;
    text-align: center;
    padding: 120px 0 0 0;
}
.contacto-title h4:before{
    content: "";
    left: 23.7%;
    position: absolute;
    width: 1000px;
    height: 1px;
    background: #dddddd;
   top: 30.3%;
}



.contacto-parrafo{
    display: flex;
    justify-content: center;
}
.contacto-parrafo p{
    margin: 55px 0 0 0;
    font-size: 20px;
    color:#e6e6e6;
    font-family: 'Source Sans Pro', sans-serif;
    width: 900px;
    text-align: center;

}
.contacto-input{
    display: flex;
    justify-content: center;
    margin: 5% 0 0 0;
    gap: 20px;
}
.contacto-input input{
background: none;
border: 1px solid #dddddd;
font-size: 20px;
color: #ffffff;
width: 450px;
height: 55px;
padding: 0 1% 0 1%;
border-radius: 5px;
font-family: 'Source Sans Pro', sans-serif;

}
.contacto-input input::placeholder{
    color: #dadada;
}
.contacto-textarea{
    display: flex;
    justify-content: center;
    margin: 1.5% 0 0 0 ;
}
.contacto-textarea textarea{
width: 920px;
background: none;
border: 1px solid #dddddd;
font-size: 20px;
color: #ffffff;
border-radius: 5px;
height: 300px;
padding:2%;
font-family: 'Source Sans Pro', sans-serif;
}

.contacto-textarea textarea::placeholder{
 color: #dadada;

}
.contacto-button{
    display: flex;
    justify-content: center;
    margin: 2% 0 0 0;

}
.contacto-button button{
    font-size: 24px;
    color: #4eb980;
    background: #ffffff;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    width: 280px;
    height: 65px;
    transition: 0.3s;
}
.contacto-button button:hover{
background: none;
color: #ffffff;
border: 1px solid #ffffff;
transition: 0.3s;
}
.contacto-iconos{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 3% 0 0 0;
}
.contacto-iconos i{
 font-size: 30px;
 padding: 10px;
 border-radius: 50%;
 border: 1px solid #dddddd;
 color: #ffffff;

}
.contacto-derechos{
    display: flex;
    justify-content: center;

    margin: 2% 0 0 0;
    color: #e7e7e79c;
    font-family: 'Source Sans Pro', sans-serif;
}
.contacto-derechos p:nth-child(1){
    border-right:1px solid #cccccc9a ;
    padding: 0 15px 0 0;
}
.contacto-derechos p:nth-child(2){
  
    padding: 0 0 0 15px;
}